* {
  box-sizing: border-box;
}


.custom-header {
  background-color: #fdf0f5;
  font-family: cursive;
  box-shadow: 0 4px 10px rgba(255, 185, 220, 0.951);
  border-bottom: 3px solid #53032e;
}

.custom-header h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #53032e;
  text-shadow: 1px 1px 2px rgba(255, 185, 220, 0.951);
}

.custom-header .lead {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

.custom-header img {
  border: 3px solid #53032e;
}

.card-text {
  font-family: cursive;
}

.card-title {
  font-family: cursive;
  font-weight: bold;
}


.my-pink-btn {
  background-color: #e91e63 !important;
  color: white !important;
  box-shadow: 0 4px 10px rgba(77, 5, 77, 0.5) !important;
  transition: all 0.3s ease;
}

.my-pink-btn:hover {
  background-color: #780e3c !important;
  color: white !important;
}

.hakkimdaClass {
  background-color: mistyrose;
  padding: 4%;
  color: #780e3c;
  font-size: 105%;
  box-shadow: 0 4px 12px rgba(177, 175, 176, 0.3);
  border: 3px solid #53032e;
  box-shadow: 0 4px 10px rgba(255, 185, 220, 0.951);
  border-radius: 15px;
  font-family: cursive;
}

.feature-box {
  background-color: #fdf0f5;
  border: 3px solid #53032e;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.icon-hover {
  color: #e91e63;
  transition: color 0.3s ease;
}

.icon-hover:hover {
  color: #780e3c;
}






.carousel-item img {
  height: 550px;
  object-fit: cover;
  width: 100%;
}




.carousel .img-thumbnail {
  height: 200px;
  object-fit: cover;
  border: 2px solid #ec9cc4;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.carousel .img-thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(255, 105, 180, 0.3);
}





#sekapark {
  padding-top: 50px;
  padding-bottom: 50px;
}

#saatkulesi {
  padding-top: 50px;
  padding-bottom: 50px;
}

#konak {
  padding-top: 50px;
  padding-bottom: 50px;
}

#arkeolojimüzesi {
  padding-top: 50px;
  padding-bottom: 50px;
}


#sekapark li {
  font-size: 20px;
  line-height: 1.6;
}

#saatkulesi li {
  font-size: 20px;
  line-height: 1.6;
}

#konak li {
  font-size: 20px;
  line-height: 1.6;
}

#arkeolojimüzesi li {
  font-size: 20px;
  line-height: 1.6;
}


#sekapark h2 {
  color: #e91e63;
}

#saatkulesi h2 {
  color: #e91e63;
}

#konak h2 {
  color: #e91e63;
}

#arkeolojimüzesi h2 {
  color: #e91e63;
}


.card-img-top {
  object-fit: cover;
  width: 200px;
  height: 400px;
}



#kisiselCard {
  font-size: 115%;
}

#egitimCard {
  font-size: 115%;
}

#yeteneklerimCard {
  font-size: 115%;
}

#basarilarimCard {
  font-size: 115%;
}



/* hakkımda hobiler kısmı */

.hobilerClass {
  color: #53032e;
  font-family: cursive;
}

.features .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.features .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #e42424a7;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}

.features .box:hover::before {
  transform: translateX(0);
}

.features .box {
  background-color: #3e0000;
}

/* hakkımda hobiler kısmı bitti */


/* İlgi Alanlarım kısmı için css kodları */


#kitap-ikonu {
  color: #ff8da2;
}

#kitap-ikonu:hover {
  color: #d96b87;
}


.btn-pink {
  background-color: #ff8da2;
  color: white;
  transition: 0.3s;
}

.btn-pink:hover {
  background-color: #d96b87;
  color: white;
}

.btn-outline-pink {
  color: #ff8da2;
  border-color: #ff8da2;
  transition: 0.3s;
}

.btn-outline-pink:hover {
  background-color: #ff8da2;
  color: white;
}